@media (min-width: 768px) and (max-width: 980px) {
    /*-*/
    .hr-menu .brand { width: 100%; }

    .hr-menu .horizontal-menu { margin: 10px 0; }

    .hr-menu .hr-top-nav { margin-top: 10px; float: right; }
}

@media (min-width: 480px) and (max-width: 767px) {
    .header { position: relative!important; height: 80px; }
    /*.header { position: relative!important; margin-top: 80px !important; }*/
    .merge-header { margin-right: 0px !important; }
    .brand { width: 165px; float: none; position: fixed; top: 0px; z-index: 1005; }
    .brand .hide-left-bar { width: 55px;}
    /*.brand { width: 100%; float: none; position: fixed; top: 0px; z-index: 1005; }*/
    .sidebar-toggle-box { right: 10px; }
    .top-nav { margin-bottom: 20px; }
    .top-menu { margin-right: 10px; }
    .wrapper { margin-top: 0px; }
    ul.sidebar-menu { margin-top: 0px; }
    #sidebar { position: fixed !important; z-index: 1002; top: 80px; }
    #main-content { margin-left: 0px; }

    .hr-toggle { background: #32D2C9; color: rgba(0, 0, 0, 0.3); border-radius: 50%; -webkit-border-radius: 50%; height: 30px; line-height: 0; margin-top: -58px; position: relative; width: 30px; z-index: 10000; }

    .hr-top-nav { display: inline-block; float: right; margin: 10px 0; }

    .horizontal-menu { width: 100%; }
        .horizontal-menu .navbar-nav > li { margin-bottom: 10px; }

    #time { font-size: 100px; }
}

@media (max-width:767px) {
    #sidebar { margin-left: 0px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
    .hide-left-bar { margin-left: 0px!important; }
    .hide-left-bar ul.sidebar-menu li a span, .hide-left-bar ul.sidebar-menu li a sup { display: none }
    ul.sidebar-menu { padding-top: 0px; }
    /*-*/

    #time { font-size: 100px; }
}

@media (max-width: 479px) {
    body { margin-top: 80px !important; }
    .header { position: relative !important; }
    .merge-header { margin-right: 0px !important; }
    .brand { width: 100%; float: none; position: fixed; top: 0px; z-index: 1005; }
    .sidebar-toggle-box { right: 10px; }
    .top-nav { margin-bottom: 20px; }
    .top-menu { margin-right: 10px; }
    .wrapper { margin-top: 0px; }
    ul.sidebar-menu { margin-top: 0px; }
    #sidebar { position: fixed !important; z-index: 1002; top: 80px; }
    #main-content { margin-left: 0px; }
    .notify-row { float: none; }

    .hr-toggle { background: #32D2C9; color: rgba(0, 0, 0, 0.3); border-radius: 50%; -webkit-border-radius: 50%; height: 30px; line-height: 0; margin-top: -58px; position: relative; width: 30px; z-index: 10000; }

    .hr-top-nav { display: inline-block; float: right; margin: 10px 0; }
    .horizontal-menu { width: 100%; }
        .horizontal-menu .navbar-nav > li { margin-bottom: 10px; }

    #time { font-size: 50px; }
}
