.node {
  cursor: pointer;
}

.node.faded {
    opacity: 0.2;    
}

.overlay{
    background-color:#f7f7f7;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node.active circle {
    stroke: #f00;
}
.node.collapsed circle {
    fill: #eee;
}
.node.suspended circle {
  stroke: #ccc;
  stroke-width: 1.5px;
}
.node.selected circle {
  stroke: #000;
  stroke-width: 2px;
}
 
.node text {
  font-size:14px; 
  font-family:sans-serif;
}

.node.active text {
    font-weight: bold;
}

.node.selected image {
    href: "/res/image/icon/selected.png"
}
 
.link {
  fill: none;
  stroke: #ddd;
  stroke-width: 1.5px;
}
.link.active {
    stroke-width: 10px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.contextMenu { 
    z-index: 1000;
}

.contextMenu.show { 
    display:block;
}

.nodeActions { 
    fill: #000;
}

.nodeAction { 
    fill: #000 !important; 
}
